*{
    box-sizing: border-box;
}

:root{
    --header-bg:#10375C;
}

html{
    font-size:62.5%;
}

body{
    font-size:1.6rem;
    font-family: "Sora",sans-serif;
}

/* ----------------------------------- Common ----------------------------------- */

.container{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin:0 auto;
}

a{
    text-decoration: none;
}

.btn{
    --height:60px;
    display: inline-block;
    min-width: 205px;
    text-align: center;
    height: var(--height);
    padding: 0 20px;
    border:1px solid #2E80CE;
    font-size:1.6rem;
    font-weight: 400;
    line-height: var(--height);
    border-radius: 99px;
    color:#FFF;
    background: #2E80CE;
}

.btn:hover{
    opacity: 0.9;
    cursor: pointer;
}

/* ----------------------------------- Header ----------------------------------- */

.header{
    min-height: 100vh;
    background:var(--header-bg);
    padding-top: 30px;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: inline-flex;
    font-size:1rem;
    position: relative;
}

.logo__circle::before,.logo__circle::after{
    content:"";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before{
    background: #2E80CE;
    width: 3em;
    height: 3em;
}

.logo__circle::after{
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #FFF;
}

.logo__text{
    margin-left: 0.6em;
    text-align: right;
    line-height: 1.6em;
}

.logo__brand{
    display: block;
    color:#FFF;
    font-size: 1.8em;
    font-weight: 400;
}

.logo__brand--small{
    font-size: 1.2em;
    font-weight: 300;
}

.navbar__list{
    display: flex;
}

.header-action__login,
.navbar__link{
    font-weight: 300;
    font-size: 1.6rem;
    padding: 4px 21px;
    color:#C9D2DA;
}

.navbar__link:hover,.navbar__link--active{
    text-shadow: 1px 0 0 currentColor ;
    color: #FFFFFF;
}

.navbar__link--active::before{
    position: relative;
    left: -8px;
    top:-2px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #FFF;
}

.header-action{
    display: flex;
    align-items: center;
}

.header-action__login{
    margin-right: 7px;
}

.header-action__signup{
    --height:44px;
    min-width: 104px;
    border-radius: 22px;
}

/* ----------------------------------- Hero ----------------------------------- */

.hero{
    margin-top: 76px;
    display: flex;
    align-items: center;
}

.hero__content{
    flex-shrink: 0;
    width: 44%;
}

.hero__media{
    flex-grow: 1;
}

.hero__heading{
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.hero__desc{
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #C9D2DA;
}

.hero__row{
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__phone{
    margin-left: 38px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #FFFFFF;
}

.hero__images{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img{
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-child{
    margin-right: -6px;
    position: relative;
}

.hero__img:last-child{
    width: 210px;
    height: 410px;
}